html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://azwqxr.github.io/windows-sim/win.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.tabs {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.tabs article[role="tabpanel"] {
    flex: 1;
    overflow: auto;
}