body {
    background-image: url("https://azwqxr.github.io/windows-sim/win.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    padding: 20px;
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,0.7);
}
.h1 {
      font-family: "Segoe UI", sans-serif;
      font-size: 13px;
}